<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/homepage.css">
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<div class="wrapper">
    <div id="header">
        <h1>DOROTHY</h1>
        <h2>Designated OpeRator Originated To Help You</h2>
    </div>
    <div class="topnav">
        <a class="active" href="/homepage/">Home</a>
        <a href="#toDo">To-Do Picker</a>
        <a href="#recipedatabase">Recipe Database</a>
        <a href="#mealorganizer">Meal Organizer</a>
        <a href="#grocerylist">Grocery List</a>
        <a href="#caloriecounter">Calorie Counter</a>
        <a href="#Food Pyramid">Food Pyramid</a>
        <a href="#Calendar">Calendar</a>
        <a href="#Scheduler">Scheduler</a>
        <a href="#leisurepicker">Leisure Picker</a>
        <a href="#itemdatabase">Item Database</a>
    </div>
    <div id="content">
        <p>This is the homepage!</p>
    </div>
</div>
</body>
</html>